body {
    background-color: #d2ebc5;
}

.container {
    width: 70%;
    margin: 2rem auto; 
}

.kama {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 15px;
}

.galerii__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uks {
   grid-column: 1 / span 4;
   grid-row: 1 / span 5;
}

.kaks {
   grid-column: 5 / span 4;
   grid-row: 1 / span 5;
}

.kolm {
    grid-column: 9 / span 4;
    grid-row: 1 / span 5;
 }

.header {
    padding: 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(34, 70, 17, 0.8);
    color: #d2ebc5;
    font-size: 20px;
}


